*/__pycache__/*
/pi4_software/Logs/*
MLTraining/results/*
MLTraining/dopamine/*
MLTraining/envs/old/*
MLTraining/DataRecording/*/*.jpg
MLTraining/DataRecording/*/*.csv
apriltags/Frames/*
apriltags/Videos/*
apriltags/output_vid.avi
