player-connection-mode=Listen
player-connection-guid=921349646
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.2.57
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
